# Add any directories, files, or patterns you don't want to be tracked by version control
build/android-profile/profile-2018-03-18-16-31-21-185.rawproto
build/android-profile/profile-2018-03-18-16-31-21-185.json
